# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - portabletext-frontend-nhi

on:
  push:
    branches:
      - master

defaults:
  run:
    working-directory: NHI.PortableText.Example/frontend

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master

    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '12.13.0'

    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'portabletext-frontend-nhi'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_e880c59065c74490b3433b2eaff8c709 }}
        package: .